<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="databaseSync" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  
  <appSettings>
    <!-- Service Configuration -->
    <add key="SyncIntervalMinutes" value="15"/>
    <add key="EnableEventLogging" value="true"/>
    <add key="EventLogSource" value="DatabaseSyncService"/>
    <add key="LogFilePath" value="C:\Logs\DatabaseSync\Service.log"/>
    <add key="MaxLogFiles" value="10"/>
    <add key="EnableEmailAlerts" value="false"/>
    <add key="SmtpServer" value=""/>
    
    <!-- Default Job Configuration (for backward compatibility) -->
    <add key="JobName" value="DefaultSyncJob"/>
    <add key="SourceConnection" value="Server=localhost;Database=SourceDB;Integrated Security=true;"/>
    <add key="DestinationConnection" value="Server=localhost;Database=DestinationDB;Integrated Security=true;"/>
    <add key="SourceTable" value="SourceTable"/>
    <add key="DestinationTable" value="DestinationTable"/>
    <add key="Schedule" value="0 */2 * * *"/>
    <add key="Enabled" value="true"/>
  </appSettings>
  
  <databaseSync>
    <!-- Multiple Synchronization Jobs -->
    <add key="Job1.Name" value="CustomerDataSync"/>
    <add key="Job1.SourceConnection" value="Server=SRV1;Database=SourceDB;Integrated Security=true;"/>
    <add key="Job1.DestinationConnection" value="Server=SRV2;Database=DestinationDB;Integrated Security=true;"/>
    <add key="Job1.SourceTable" value="Customers"/>
    <add key="Job1.DestinationTable" value="CustomerArchive"/>
    <add key="Job1.Schedule" value="0 */2 * * *"/>
    <add key="Job1.Enabled" value="true"/>
    
    <add key="Job2.Name" value="ProductSync"/>
    <add key="Job2.SourceConnection" value="Server=SRV1;Database=SourceDB;Integrated Security=true;"/>
    <add key="Job2.DestinationConnection" value="Server=SRV2;Database=DestinationDB;Integrated Security=true;"/>
    <add key="Job2.SourceTable" value="Products"/>
    <add key="Job2.DestinationTable" value="ProductArchive"/>
    <add key="Job2.Schedule" value="0 */1 * * *"/>
    <add key="Job2.Enabled" value="true"/>
  </databaseSync>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>